.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(27, 57, 86, 1);
}

.logo {
  height: 3em;
  margin: 5px;
}
